*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    
    width: 100vw;
    /*@media screen and (max-width : $xs) {
        font-size: 87.5%;
        overflow-x: hidden;
    }*/
    scroll-behavior: smooth;
}
body {
    font-family : $f-family;
    
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    & * {
        box-sizing: border-box;
    }
    
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin : 0;
    
}

button {
    background-color: transparent;
    border: none;
    
}

input {
    outline : none
}