@use "sass:color";

.btn-default {
    @apply inline-flex justify-center items-center;
    padding: $spacing-xs $spacing-lg;
    gap: $spacing-xbase;
    border-radius: $radius-button;
    border: 0.5px solid $qr-dark;
    cursor: pointer;
    &:hover {
        background-color: $qr-primary;
        color: $qr-white;
        border-color: transparent;
    }
    &:disabled {
        background-color: color.scale($qr-gray-1, $lightness: 25%);
        color: color.scale($qr-gray-3, $lightness: 25%);
        border-color: transparent;
        cursor: not-allowed;
    }
}
.btn-primary {
    @apply inline-flex justify-center items-center shadow-btn;
    padding: var(--spacing-xs) var(--spacing-lg);
    gap: var(--spacing-xbase);
    border-radius: $radius-button;
    border-radius: $radius-button;
    background: $qr-primary;
    color: $qr-white;
    cursor: pointer;
}