{% extends "layouts/base.html" %}

{% block title %} QR Smart {% endblock %}

{% block content %} 
<section class="qr-section banner-section flex flex-col items-center">
    <div class="hero-content flex flex-col justify-center items-center">
        <h2 class="text-qr-dark-third hero-5 text-center">Create high fidelity <span class="text-qr-color">QR codes</span> to reach millions of customer</h2>
        <h3 class="text-qr-dark-third body-long">QR codes for 
            <div class="anim-word text-qr-color inline-flex flex-col items-start">
                <div class="anim-ctn flex flex-col">
                    <span>Virtual Cards</span> <span>Events</span> <span>URL</span>
                </div>
            </div>
        </h3>
        <h4 class="text-qr-gray-4 body-font">No pain to  generate, easy follow-up</h4>
        <button class="btn-default hover:btn-primary">
            Get Started
        </button>
    </div>
</section>
{% endblock %}