{% extends "layouts/base.html" %}

{% block title %} QR Smart {% endblock %}

{% block content %} 
<section class="qr-section banner-section flex flex-col items-center">
    <div class="hero-content flex flex-col justify-center items-center">
        <h2 class="text-qr-dark-third hero-5 text-center">Create high fidelity <span class="text-qr-color">QR codes</span> to reach millions of customer</h2>
        <h3 class="text-qr-dark-third body-long">QR codes for 
            <div class="anim-word text-qr-color inline-flex flex-col items-start">
                <div class="anim-ctn flex flex-col">
                    <span>Virtual Cards</span> <span>Events</span> <span>URL</span>
                </div>
            </div>
        </h3>
        <h4 class="text-qr-gray-4 body-font">No pain to  generate, easy follow-up</h4>
        <button class="btn-default hover:btn-primary">
            Get Started
        </button>
        <div class="img-banner">
            <img src="{{ url_for('static', path='/qr-code-banner.jpg') }}"/>
        </div>
    </div>
</section>
<section class="qr-section features-section flex flex-col items-center">
    <div class="title-section flex flex-col items-center">
        <h2 class="heading-2">Our QR code that make us unique</h2>
        <p class="body-font">We bring a whole new set of unicity to scale up your business</p>
    </div>

    <div class="features-ctn">
        <div class="features-instance">
            <img src="{{ url_for('static', path='/qrsmart-vector.svg') }}"/>
            <div class="desc body-font">
                <h6>Dynamic QR code</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem minima blanditiis eum nulla eligendi est qui pariatur unde! Dolor delectus, ab at molestiae nostrum eveniet error nulla nihil voluptatem!</p>
            </div>
        </div>
        <div class="features-instance">
            <img src="{{ url_for('static', path='/qrsmart-vector.svg') }}"/>
            <div class="desc body-font">
                <h6>Dynamic QR code</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem minima blanditiis eum nulla eligendi est qui pariatur unde! Dolor delectus, ab at molestiae nostrum eveniet error nulla nihil voluptatem!</p>
            </div>
        </div>
        <div class="features-instance">
            <img src="{{ url_for('static', path='/qrsmart-vector.svg') }}"/>
            <div class="desc body-font">
                <h6>Dynamic QR code</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem minima blanditiis eum nulla eligendi est qui pariatur unde! Dolor delectus, ab at molestiae nostrum eveniet error nulla nihil voluptatem!</p>
            </div>
        </div>
        <div class="features-instance">
            <img src="{{ url_for('static', path='/qrsmart-vector.svg') }}"/>
            <div class="desc body-font">
                <h6>Dynamic QR code</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatem minima blanditiis eum nulla eligendi est qui pariatur unde! Dolor delectus, ab at molestiae nostrum eveniet error nulla nihil voluptatem!</p>
            </div>
        </div>
    </div>
</section>

<section class="qr-section types-section flex flex-col items-center">
    <div class="title-section flex flex-col items-center">
        <h2 class="heading-2">What types of QR code you can generate</h2>
        <p class="body-font">We offer a large variety of QR code you can generate</p>
    </div>
    <div class="types-ctn">
        <ul class="types-list flex justify-center gap-3">
            <li class="type-list-inst">
                <div class="img-ctn">
                    <img src="https://img.icons8.com/ios/50/domain--v1.png" alt="domain--v1"/>
                </div>
                <span>Url</span>
            </li>
            <li class="type-list-inst">
                <div class="img-ctn">
                    <img src="https://img.icons8.com/ios/50/domain--v1.png" alt="domain--v1"/>
                </div>
                <span>Vcard</span>
            </li>
            <li class="type-list-inst">
                <div class="img-ctn">
                    <img src="https://img.icons8.com/ios/50/domain--v1.png" alt="domain--v1"/>
                </div>
                <span>Menu</span>
            </li>
            <li class="type-list-inst">
                <div class="img-ctn">
                    <img src="https://img.icons8.com/ios/50/domain--v1.png" alt="domain--v1"/>
                </div>
                <span>Event</span>
            </li>
            <li class="type-list-inst">
                <div class="img-ctn">
                    <img src="https://img.icons8.com/ios/50/domain--v1.png" alt="domain--v1"/>
                </div>
                <span>Social</span>
            </li>
            <li class="type-list-inst">
                <div class="img-ctn">
                    <img src="https://img.icons8.com/ios/50/domain--v1.png" alt="domain--v1"/>
                </div>
                <span>Business</span>
            </li>
            
            
        </ul>
        <div class="type-instance">
            <div class="illus">
                <img src="{{ url_for('static', path='/qrsmart-illus.svg') }}"/>
            </div>

            <div class="content">
                <h5>Virtual Business Card</h5>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga modi, repudiandae quibusdam quam vitae pariatur odio esse optio explicabo quasi assumenda quisquam molestias ratione autem eveniet obcaecati minima omnis voluptas.
                </p>
                <button class="btn-default">Generate now</button>
            </div>
        </div>
    </div>
</section>
<section class="qr-section steps-section">
    <div class="title-section flex flex-col items-center">
        <h2 class="heading-2">Generate your QR code in matter of instant</h2>
        <!-- <p class="body-font">We offer a large variety of QR code you can generate</p> -->
    </div>
    <div class="steps-ctn">
        <div class="step-instance">
            <div class="illus">
                <img src="{{ url_for('static', path='/qrsmart-illus.svg') }}"/>
            </div>

            <div class="content">
                <div class="header">
                    <h5>Virtual Business Card</h5>
                    <h6>Step 1</h6>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga modi, repudiandae quibusdam quam vitae pariatur odio esse optio explicabo quasi assumenda quisquam molestias ratione autem eveniet obcaecati minima omnis voluptas.
                </p>
                <!-- <button class="btn-default">Generate now</button> -->
            </div>
        </div>
        <div class="step-instance step-reverse">
            <div class="illus">
                <img src="{{ url_for('static', path='/qrsmart-illus.svg') }}"/>
            </div>

            <div class="content">
                <div class="header">
                    <h5>Virtual Business Card</h5>
                    <h6>Step 2</h6>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga modi, repudiandae quibusdam quam vitae pariatur odio esse optio explicabo quasi assumenda quisquam molestias ratione autem eveniet obcaecati minima omnis voluptas.
                </p>
                <!-- <button class="btn-default">Generate now</button> -->
            </div>
        </div>
        <div class="step-instance step-reverse">
            <div class="illus">
                <img src="{{ url_for('static', path='/qrsmart-illus.svg') }}"/>
            </div>

            <div class="content">
                <div class="header">
                    <h5>Virtual Business Card</h5>
                    <h6>Step 3</h6>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga modi, repudiandae quibusdam quam vitae pariatur odio esse optio explicabo quasi assumenda quisquam molestias ratione autem eveniet obcaecati minima omnis voluptas.
                </p>
                <!-- <button class="btn-default">Generate now</button> -->
            </div>
        </div>
        <div class="step-instance">
            <div class="illus">
                <img src="{{ url_for('static', path='/qrsmart-illus.svg') }}"/>
            </div>

            <div class="content">
                <div class="header">
                    <h5>Virtual Business Card</h5>
                    <h6>Step 4</h6>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga modi, repudiandae quibusdam quam vitae pariatur odio esse optio explicabo quasi assumenda quisquam molestias ratione autem eveniet obcaecati minima omnis voluptas.
                </p>
                <!-- <button class="btn-default">Generate now</button> -->
            </div>
        </div>
    </div>
</section>
{% endblock %}