:root {
    --qr-black: #000;
    --qr-dark: #272B30;
    --qr-primary: #63CA04;
    --qr-gray-4: #737373;
    --qr-white: #FFF;
    --qr-background: #F8F9FA;
    --qr-dark-third: rgba(30, 31, 38, 1);
    --spacing-xbase: 10px;
    --spacing-base: 16px;
    --spacing-none: 0px;
    --spacing-sm: 8px;
    --spacing-xs: 4px;
    --spacing-lg: 32px;
    --spacing-md: 24px;
    --radius-button: 24px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Gabarito", sans-serif;
    color: var(--qr-black);
    background: var(--qr-background);
}

button {
    border: none;
    outline: none;
}

/*
    Typography
*/

.hero-1 {
    /* qr-hero-1 */
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 120px; /* 100% */
}
.hero-2 {
    /* qr-hero-2 */
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 96px; /* 100% */
}
.hero-3 {
    /* qr-hero-3*/
    font-size: 76px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px; /* 100% */
}
.hero-4 {
    /* qr-hero-4 */
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 100% */
}
.hero-5 {
    /* qr-hero-5 */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 100% */
}
.heading-1 {
    /* qr-heading-1 */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
}
.heading-2 {
    /* qr-heading-2 */
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 125% */
}
.heading-3 {
    /* qr-heading-3 */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.66% */
}
.heading-4 {
    /* qr-heading-4 */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}
.heading-5 {
    /* qr-heading-5 */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
.subheading {
    /* qr-subheading */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.33% */
}
.body-long {
    /* qr-body-long */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}
.body-long-bold {
    font-weight: 600;
}
.body-font {
    /* qr-body-font */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 140% */
}
.body-font-bold {
    font-weight: 600;
}
.footnote {
    /* qr-body-font */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142% */
}
.footnote-bold {
    font-weight: 600;
}
.caption {
    /* qr-body-font */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 142% */
}
@layer utilities {

    .shadow-btn {
        /* shadow-btn */
        box-shadow: 0px 1px 0px 0px rgba(17, 17, 26, 0.05), 0px 0px 8px 0px rgba(17, 17, 26, 0.10);
    }
    
    .btn-default {
        @apply inline-flex justify-center items-center;
        padding: var(--spacing-xs) var(--spacing-lg);
        gap: var(--spacing-xbase);
        border-radius: var(--radius-button);
        border: 0.5px solid var(--qr-dark);
        cursor: pointer;
    }
    .btn-primary {
        @apply inline-flex justify-center items-center shadow-btn;
        padding: var(--spacing-xs) var(--spacing-lg);
        gap: var(--spacing-xbase);
        border-radius: var(--radius-button);
        border-radius: var(--radius-button, 24px);
        background: var(--qr-primary);
        color: var(--qr-white);
        cursor: pointer;
    }

    /* Pages Design */

    /* Navbar Design */
    .navbar {
        @apply flex w-full flex-col items-start;
        padding: var(--spacing-xbase) 70px;
        gap: var(--spacing-xbase, 10px);
    }
    .navbar nav {
        @apply flex justify-between items-center self-stretch;
    }
    nav h2 {
        @apply flex justify-center items-center;
        padding: 10px 0px;
        gap: 2px;
    }
    nav ul {
        @apply flex items-center gap-2;

    }
    nav ul a {
        @apply flex flex-col justify-center items-center text-center;
        padding: 5px 10px;
        gap: var(--spacing-none);
        color: var(--qr-gray-4);
        cursor: pointer;
    }
    nav .connexion {
        @apply flex items-start;
        gap: var(--spacing-sm);
    }

    /* Index Design */

    .qr-section {
        padding: var(--spacing-lg) 70px;
        gap: var(--spacing-md);
    }
    .banner-section .hero-content {
        gap: var(--spacing-base);
        width: 100%;
        max-width: 812px;
    }
    .banner-section .anim-word {
        padding: var(--spacing-xbase);
        height: 40px;
        /* outline: 1px solid red; */
        overflow: hidden;
    }
    .banner-section .anim-ctn {
        position: relative;
        animation: 3s ease-out animword infinite;
    }

    @keyframes animword {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }
        
        20% {
            opacity: 1;
            transform: translateY(-40px);
        }

        60% {
            opacity: 1;
            transform: translateY(-80px);
        }

        80% {
            opacity: 1;
            transform: translateY(-120px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}