:root {
    --qr-black: #000;
    --qr-dark: #272B30;
    --qr-dark--second: #030303;
    --qr-primary: #63CA04;
    --qr-primary-shade: #DFF2CD;
    --qr-primary-shade-fade: #dff2cd26;
    --qr-gray-4: #737373;
    --qr-white: #FFF;
    --qr-background: #F8F9FA;
    --qr-dark-third: rgba(30, 31, 38, 1);
    --spacing-xbase: 10px;
    --spacing-base: 16px;
    --spacing-none: 0px;
    --spacing-sm: 8px;
    --spacing-xs: 4px;
    --spacing-lg: 32px;
    --spacing-md: 24px;
    --radius-button: 24px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Gabarito", sans-serif;
    color: var(--qr-black);
    background: var(--qr-background);
}

button {
    border: none;
    outline: none;
}

/*
    Typography
*/

.hero-1 {
    /* qr-hero-1 */
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 120px; /* 100% */
}
.hero-2 {
    /* qr-hero-2 */
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 96px; /* 100% */
}
.hero-3 {
    /* qr-hero-3*/
    font-size: 76px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px; /* 100% */
}
.hero-4 {
    /* qr-hero-4 */
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 100% */
}
.hero-5 {
    /* qr-hero-5 */
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 100% */
}
.heading-1 {
    /* qr-heading-1 */
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
}
.heading-2 {
    /* qr-heading-2 */
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 125% */
}
.heading-3 {
    /* qr-heading-3 */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.66% */
}
.heading-4 {
    /* qr-heading-4 */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}
.heading-5 {
    /* qr-heading-5 */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
.subheading {
    /* qr-subheading */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.33% */
}
.body-long {
    /* qr-body-long */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}
.body-long-bold {
    font-weight: 600;
}
.body-font {
    /* qr-body-font */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 140% */
}
.body-font-bold {
    font-weight: 600;
}
.footnote {
    /* qr-body-font */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142% */
}
.footnote-bold {
    font-weight: 600;
}
.caption {
    /* qr-body-font */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 142% */
}
@layer utilities {

    .debug {
        @apply border-2 border-red-500;
    }
    .shadow-btn {
        /* shadow-btn */
        box-shadow: 0px 1px 0px 0px rgba(17, 17, 26, 0.05), 0px 0px 8px 0px rgba(17, 17, 26, 0.10);
    }

    .qr-shadow-primary {
        /* qr-shadow-primary */
        box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.05);
    }
    
    .qr-shadow-base {
        /* qr-shadow-base */
        box-shadow: 0px 1px 0px 0px rgba(17, 17, 26, 0.1), 0px 8px 24px 0px rgba(17, 17, 26, 0.1), 0px 16px 48px 0px rgba(17, 17, 26, 0.1);
    }

    .btn-default {
        @apply inline-flex justify-center items-center;
        padding: var(--spacing-xs) var(--spacing-lg);
        gap: var(--spacing-xbase);
        border-radius: var(--radius-button);
        border: 0.5px solid var(--qr-dark);
        cursor: pointer;
    }
    .btn-primary {
        @apply inline-flex justify-center items-center shadow-btn;
        padding: var(--spacing-xs) var(--spacing-lg);
        gap: var(--spacing-xbase);
        border-radius: var(--radius-button);
        border-radius: var(--radius-button, 24px);
        background: var(--qr-primary);
        color: var(--qr-white);
        cursor: pointer;
    }

}
/* Pages Design */

/*
    Common styles
*/

.title-section {
    padding: var(--spacing-base);
}
.title-section h2 {
    color:var(--qr-dark--second);
}


/* Navbar Design */
.navbar {
    @apply flex w-full flex-col items-start;
    padding: var(--spacing-xbase) 70px;
    gap: var(--spacing-xbase, 10px);
}
.navbar nav {
    @apply flex justify-between items-center self-stretch;
}
nav h2 {
    @apply flex justify-center items-center;
    padding: 10px 0px;
    gap: 2px;
}
nav ul {
    @apply flex items-center gap-2;

}
nav ul a {
    @apply flex flex-col justify-center items-center text-center;
    padding: 5px 10px;
    gap: var(--spacing-none);
    color: var(--qr-gray-4);
    cursor: pointer;
}
nav .connexion {
    @apply flex items-start;
    gap: var(--spacing-sm);
}

/* Footer Design */
footer {
    @apply px-20 py-8 flex justify-center items-center;
    background-color: rgb(99, 202, 4, .5);

}
.footer .inner-footer {
    min-width: 100%;
    @apply px-6 flex flex-col justify-center gap-4;

}
.footer .inner-footer .foot-start {
    @apply flex justify-between items-center; 
}
.footer .inner-footer .foot-start .left-side{
    @apply flex flex-col items-center justify-center;
}
.footer .inner-footer .foot-start .right-side {
    @apply flex justify-end gap-4;
}
.footer .inner-footer .foot-start .right-side .links-ctn {
    @apply flex flex-col justify-center items-center gap-2;
}
.footer .inner-footer .foot-start .right-side .links-ctn h5{
    @apply font-semibold;
}
.footer .inner-footer .foot-start .right-side .links-ctn ul {
    @apply flex flex-col justify-center items-center gap-1 list-none;
}

.footer .inner-footer .foot-end {
    @apply flex justify-between items-center; 
}
.footer .inner-footer .foot-end .right-side {
    @apply flex justify-end items-center gap-2; 
}

/* Index Design */

.qr-section {
    padding: var(--spacing-lg) 70px;
    gap: var(--spacing-md);
}
.banner-section .hero-content {
    gap: var(--spacing-base);
    width: 100%;
    max-width: 812px;
}
.banner-section .anim-word {
    padding: var(--spacing-xbase);
    height: 40px;
    /* outline: 1px solid red; */
    overflow: hidden;
}
/*.banner-section .anim-ctn {
    position: relative;
    animation: 3s ease-out animword infinite;
}*/

@keyframes animword {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    
    20% {
        opacity: 1;
        transform: translateY(-40px);
    }

    60% {
        opacity: 1;
        transform: translateY(-80px);
    }

    80% {
        opacity: 1;
        transform: translateY(-120px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.features-section {
    padding: 32px 70px;
    background-color: var(--qr-primary-shade-fade);
}
.features-section .features-ctn {
    max-width: 90%;
    @apply grid grid-cols-2 gap-10;
}
.features-section .features-instance {
    padding: 8px 16px;
    border-radius: 4px;
    @apply bg-white flex flex-row justify-evenly items-center qr-shadow-primary;
}
.features-instance .desc {
    width: 60%;
}
.features-instance .desc h6 {

    color: var(--qr-primary);
}


.types-section .types-ctn .types-list {

}
.types-list .type-list-inst {
    background-color: var(--qr-white);
    padding: 2px 8px;
    width: 100px;
    height: 100px;
    @apply flex flex-col items-center justify-center gap-1;
}

.types-list .type-list-inst .img-ctn {
    padding: 5px;
    background-color: var(--qr-primary-shade-fade);
    width: 100%;
    @apply flex items-center justify-center;
}

.type-instance {
    width: 55%;
    margin: 2rem auto;
    @apply flex flex-row overflow-hidden bg-white;
    border-radius: 4px;
}

.type-instance .illus {

    min-width: 40%;
    @apply flex justify-center items-center bg-qr-shade;
}

.type-instance .content {
    padding: 8px 16px;
    @apply flex flex-col justify-between items-start gap-4;
}

.steps-section {

}
.steps-ctn {
    @apply grid grid-cols-2 content-center justify-items-center gap-y-6;
    padding: var(--spacing-lg) 0;
}
.step-instance {
    max-width: 400px;
    @apply flex flex-col justify-center items-center gap-6;
}
.step-instance .illus {
    width: 200px;
    height: 200px;
    @apply flex justify-center items-center;
}
.step-instance .illus img {
    width: 100px;
}

.step-instance .content {
    padding: var(--spacing-sm) var(--spacing-base);
    background-color: rgba(240, 240, 240, .3);
    
    @apply qr-shadow-base rounded-sm flex flex-col gap-4;
}

.step-instance .content .header {
    @apply flex justify-between w-full;
}
.step-instance .content .header h5{
    @apply font-semibold;
}
.step-instance .content .header h6{
    @apply text-qr-color font-semibold;
}

.step-instance .content p{
    @apply text-qr-gray-4;
}

.step-reverse {
    flex-direction: column-reverse;
}