
@layer utilities {
    
    .shadow-btn {
        box-shadow: 0px 1px 0px 0px rgba(17, 17, 26, 0.05), 0px 0px 8px 0px rgba(17, 17, 26, 0.10);
    }
}


@mixin ly-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ly-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




