
//@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

$f-family-stand : 'Playpen Sans', sans-serif;
$f-family : 'Gabarito', sans-serif;

$qr-black: #000;
$qr-dark: #272B30;
$qr-primary: #63CA04;
$qr-gray-3: #BABABA;
$qr-gray-4: #737373;
$qr-white: #FFF;
$qr-background: #F8F9FA;
$qr-dark-third: rgba(30, 31, 38, 1);
$spacing-xbase: 10px;
$spacing-base: 16px;
$spacing-none: 0px;
$spacing-sm: 8px;
$spacing-xs: 4px;
$spacing-lg: 32px;
$spacing-xlg: 40px;
$spacing-md: 24px;
$radius-button: 24px;
